# Visual Studio cache and build folders
.vs/
Debug/
Release/
x64/
x86/
out/
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.opendb
*.VC.db

# Build artifacts
*.exe
*.dll
*.pdb
*.ilk
*.log

# CMake (if you ever use it)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Other
*.ipch
*.tlog
*.lastbuildstate
